* {
  padding: 0%;
  margin: 0%;
}
body {
  background-color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu-horizontal {
  background-color: #3A0C89;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.menu-horizontal-esquerdo {
  color: white;
  padding-left: 20px;
  font-size: xx-large;
  display: flex;
  align-items: center;
}

.menu-horizontal-direito {
  display: flex;
  align-items: center;
}

.menu-horizontal-direito button {
  width: 80px;
  height: 30px;
}

.menu-horizontal-direito input {
  height: 25px;
  width: 250px;
}

.menu-vertical {
  background-color: #26055E;
  width: 170px;
  height: 90vh;
  font-size: x-large;
}

a {
  text-decoration: none;
  color: white;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu span {
  padding-top: 10px;
}

a:hover {
  color: rgb(131, 129, 129);
}

.complemento {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
  padding-top: 35px;
  font-size: xx-large;
}

.titulo {
  font-size: x-large;
}

table tr td {
  border: 1px solid black;
  padding: 10px;
}

thead, tbody, th, td {
  border: 1px solid black;
  padding: 10px;
}

.titulo {
  display: flex;
  justify-content: center;
}

.form-input {
  display: flex;
  justify-content: center;
}

.list-autores {
  display: flex;
  justify-content: center;
}

tr:nth-child(odd) {
  background: lightgray;
}

tr:nth-child(even) {
  background: white;  
}

.input-pesquisar {
  border-radius: 10px;
  padding-left: 10px;
}

.botao-pesquisar {
  border-radius: 10px;
}

main {
  display: flex;
  flex-direction: column;
  padding-left: 400px;
}

