* {
  padding: 0%;
  margin: 0%;
}
body {
  background-color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu-horizontal {
  background-color: #3A0C89;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.menu-horizontal-esquerdo {
  color: white;
  padding-left: 20px;
  font-size: xx-large;
  display: flex;
  align-items: center;
}

.menu-horizontal-direito {
  display: flex;
  align-items: center;
}

.menu-horizontal-direito button {
  width: 80px;
  height: 30px;
  border-radius: 10px;
}

.menu-horizontal-direito input {
  height: 25px;
  width: 250px;
  border-radius: 10px;
  padding-left: 10px;
}

.menu-vertical {
  background-color: #26055E;
  width: 170px;
  height: 91vh;
  font-size: x-large;
}

a {
  text-decoration: none;
  color: white;
}

.menu-cima {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-cima span {
  padding-top: 10px;
}

a:hover {
  color: rgb(131, 129, 129);
}

.complemento {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
  padding-top: 35px;
  font-size: xx-large;
}

.titulo {
  font-size: x-large;
}

table tr td {
  border: 1px solid black;
  padding: 10px;
}

thead, tbody, th, td {
  border: 1px solid black;
  padding: 10px;
}

.titulo {
  display: flex;
  justify-content: center;
}

.form-input {
  display: flex;
  justify-content: center;
}

tr:nth-child(odd) {
  background: lightgray;
}
main {
  margin: 0 auto;
}

.menu-baixo{
  color: rgb(131, 129, 129);
}

.tabela-titulo {

  width: 200px;
}

.tabela-titulo-id {
  width: 350px;
}

.form-input {
  margin-top: 10px;
}

.form-input input {
  width: 600px;
  height: 35px;
  border-radius: 10px;
  padding-left: 10px;
  font-size: larger;
  margin-top: 10px;
}

.form-input {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.form-input button {
  height: 37px;
  border-radius: 10px;
  width: 50px;;
}

.block {
  min-width: 300px;
  height: 200px;
  border: 1px solid black;
  border-radius: 30px;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  background-color: lightgrey
}

.conteudo-livro {
  display: flex;
  justify-content: center;
  padding-left: 80px;
  padding-top: 80px;
}

.block_2 {
  min-width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 30px;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  background-color: lightgrey
}

.conteudo-secundario {
  padding-left: 80px;
}

.titulo-geral {
  font-size: 55px;
  padding-top: 30px;
  padding-left: 600px;
}

.geren_tudo {
  padding-left: 350px;
}

.title {
  padding-left: 80px;
  font-size: 20px;
}

.form-input select {
  margin-top: 10px;
  padding-left: 5px;
  font-size: 15px;
  color: rgb(131, 129, 129);
  width: 615px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: white;
  color: black;
}

.form-input button {
  width: 200px;
  margin-left: 200px;
  margin-top: 20px;
}

.form-input {
  padding-top: 50px;
}

.tabela {
  padding-top: 50px;
}

th, td {
  width: 200px;
}

td button {
  margin-left: 30px;
  width: 50px;
  border: 1px solid black;

}
